<ion-view ng-scroll="false">
  <div class="bar bar-header bar-calm header-dark-wood">
    <button class="button button-icon icon ion-home" ng-click="goHome()"></button>
    <div class="h1 title">{{ level ? 'LEVEL ' + currentLvl : 100}}</div>
  </div>
  <ion-content class="board-outer has-header has-footer" scroll="false">
    <board></board>
  </ion-content>
  <div class="tabs tabs-icon-only actions">
    <div class="tab-item" ng-click="revert()">
      <i class="icon ion-arrow-return-left"></i>
    </div>
    <div class="tab-item score" disabled="disabled" id="score">
      <div class="score-number">{{number - 1}}</div>
      <div class="score-bar" ng-style="{'width': (number - 1) / winNumber * scoreEl.offsetWidth + 'px'}"></div>
    </div>
    <div class="tab-item" ng-click="restart()">
      <i class="icon ion-refresh"></i>
    </div>
  </div>
</ion-view>
