<ion-view ng-scroll="false">
  <div class="bar bar-header bar-calm header-dark-wood">
    <button class="button button-icon icon ion-home" ng-click="goHome()"></button>
    <div class="h1 title">100</div>
  </div>
  <ion-content class="board-outer has-header has-footer" scroll="false">
    <div class="board-row" ng-repeat="x in lengthArray">
      <div class="board-col calm-border"
           ng-class="{'clicked': colNumber}"
           ng-repeat="y in lengthArray"
           ng-controller="ColCtrl"
           ng-init="init(x,y)"
           ng-click="setNumber()">
        <div class="board-col-inner">
          <i ng-show="isClickable()" class="icon button-balanced clickable ion-ios-circle-filled"></i>
          <div>{{colNumber}}</div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-only actions">
    <a class="tab-item" ng-click="revert()">
      <i class="icon ion-arrow-return-left"></i>
    </a>
    <div class="tab-item score" disabled="disabled" id="score">
      <div class="score-number">{{number - 1}}</div>
      <div class="score-bar" ng-style="{'width': (number - 1) / 100 * scoreEl.offsetWidth + 'px'}"></div>
    </div>
    <a class="tab-item" ng-click="restart()">
      <i class="icon ion-refresh"></i>
    </a>
  </div>
</ion-view>
