<ion-view>
  <div class="bar bar-header bar-calm header-dark-wood">
    <button class="button button-icon icon ion-home" ui-sref="home"></button>
    <div class="h1 title">Help</div>
  </div>
  <ion-content>
    <ion-slide-box>
      <ion-slide>
        <div class="box blue"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
