<ion-view>
  <ion-content>
    <div class="logo"><img src="img/logo.png"/></div>
    <div class="list list-inset home-list">

      <a class="item" ui-sref="pickChapter">
        Start
      </a>

      <a class="item" ng-click="openClassic()">
        Classic
      </a>

      <a class="item" ui-sref="multiplayer">
        MultiPlayer<span class="beta">(beta)</span>
      </a>

      <a class="item" ui-sref="help">
        Help
      </a>

      <a class="item" ng-click="sendMail()">
        Contact Us
      </a>

    </div>
  </ion-content>
</ion-view>
