ion-content {
  background: url('../img/background.jpg');
}

@font-face {
  font-family: curved;
  src: url(../fonts/PWChalk.ttf);
}

.title {
  font-family: curved;
  font-weight: bolder !important;
  font-size: 35px !important;
}

.board-outer.has-footer {
  bottom: 45px;
}

.board-outer > div {
  height: 100%;
}

.board-row {
  width: 100%;
  height: 10%;
  display: inline;
  clear: both;
}

.board-col {
  width: 10%;
  height: 10%;
  float: left;
  border: 2px outset #c7801a;
  text-align: center;
  position: relative;
  background: url("../img/retina_wood.png");
}

.board-col.clicked {
  font-family: curved;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bolder;
  box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.5);
}

.board-col-inner {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -5.25px;
  margin-top: -7px;
}

.clicked {
  background-color: #73e2ff;
}

.bottom-buttons {
  height: 10%;
}

.clickable {
  color: #28a54c;
}

.header-dark-wood {
  background: url("../img/dark_wood.jpg") !important;
}

.popup {
  width: 90% !important;
}

.popup-button:before {
  display: block !important;
}

.home-list {
  background-color: transparent !important;
}

.home-list a {
  border-color: black;
  text-align: center;
  background-position-y: center;
  background-size: cover;
  background-image: url(../img/wood.jpg);
  margin-bottom: 2vh;
}

.home-list a.activated {
  border: inset 1px white;
}

.logo {
  padding: 20px;
}

.logo img {
  width: 100%;
}
